@font-face {
	font-family: 'anzumoji';
	src: url(APJapanesefont.ttf);
}
@font-face {
	font-family: 'hannari';
	src: url(Hannari.otf);
}

*{
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

.pc-background{
    background-image: url("hourai.jpg");
    background-size: cover;
    background-position:center center;
    padding: 120px 0 300px 0;
}

.mobile-background{
    background-image: none;
    background-size: cover;
    background-position:center center;
    padding: 60px 0;
}


.top-wrapper{
    padding: 0 0 60px 60px;
    color: #fe4216;
    text-align: left;
    h1{
        opacity: 0.7;
        font-size: 45px;
        letter-spacing: 5px;
    }
}
    

.contents-wrapper{
    text-align: center;
}

.content-icon{
    float: left;
    max-width: 1170px;
    width: 25%;
    position: relative;
    filter: drop-shadow(5px 5px rgb(51, 51, 51));
    &:active{
        filter: none;
        top: 5px;
        left: 5px;
    }
    p{
        position: absolute;
        top: 107px;
        width: 100%;
        color: black;
        font-family: anzumoji;
        font-size: 32px;
    }
                            
}
    
                        

/* フッター */
.footer {
    padding: 12px 0;
    border-top: #ccd1d9 solid 1px;
    background: #fff;
    text-align: center;
    clear: both;
}

.footer-nav {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}

.footer-nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    li{
        padding: 0 6px;
        font-size: 0.9em;
        list-style: none;
        float: left;
        a{
            color: #666;
            &:hover{
                color: #999;
            }
        }
    }
}

.footer-copyright {
    color: #999;
    font-size: 0.8em;
}

/* ヘッダー */
header{
    height: 60px;
    width: 100%;
    background-color: rgba(254, 66, 22, 0.5);
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo{
    width: 250px;
    padding: 4px 5px 8px 5px;
    &:hover{
        background-color: rgba(255, 255, 255, 0.3);
   }
}

.header-left{
    float: left;
}

.header-right {
    float: right;
    a {
        line-height: 60px;
        padding: 0 25px;
        color: white;
        display: block;
        float: left;
        transition: all 0.5s;
        &:hover{
             background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.header-trial{
    background-color: rgba(255, 0, 0, 0.5);
}

.menu{
    display: none;
}

.menu-box {
    float: right;
    list-style: none;
    font-size: 18px;
    display: none;
    margin-top: 60px;
    position: absolute;
    right:0%;
    li{
        padding: 5px 10px;
        border: groove rgba(255, 255, 255, 0.3);
        background-color: rgba(254, 66, 22, 0.5);
        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
       }
    }
}

.menu-icon {
    color: white;
    float: right;
    padding: 22px 10px;
    &:hover{
        background-color: rgba(255, 255, 255, 0.3);
   }
}