@import "_variables.css";

@font-face {
	font-family: 'anzumoji';
	src: url(APJapanesefont.ttf);
}
@font-face {
	font-family: 'hannari';
	src: url(Hannari.otf);
}

*{
    box-sizing: border-box;
  }

body{
    margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
    //background-size: cover;

    .contents-wrapper{
        //height: 500px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        background-image: url("trumpet.jpg");
        background-size: cover;
        background-position:center center;

        .filter{
            background-color: rgba(0, 0, 0, 0.4);
            .intro{
                padding-top: 120px;
                .heading{
                    letter-spacing: 2px;
                }
                .texts{
                    //font-family: anzumoji;
                    //font-size: 32px;
                    font-family: hannari;
                    font-size: 26px;
                    padding: 0 20%;
                    span{
                        color: rgba(254, 66, 22, 0.9);
                    }
                }
            }

            .policy{
                padding: 60px 0;
                .heading{
                    letter-spacing: 2px;
                }
                .texts{
                    font-family: hannari;
                    font-size: 26px;
                    padding: 0 20%;
                    span{
                        color: rgba(254, 66, 22, 0.9);
                    }
                }
            }
        }

        
        
    }

        /* フッター */

    .footer {
        padding: 12px 0;
        border-top: #ccd1d9 solid 1px;
        background: #fff;
        text-align: center;
        clear: both;

        .footer-nav {
            margin-bottom: 12px;
            width: 100%;
            text-align: center;

            .footer-nav-group {
                margin: 0;
                padding: 0;
                display: -moz-inline-stack;
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                zoom: 1;
                *display: inline;
                

                li{
                    padding: 0 6px;
                    font-size: 0.9em;
                    list-style: none;
                    float: left;
                    a{
                        color: #666;
                        &:hover{
                            color: #999;
                        }
                    }
                }
            }

        }

        .footer-copyright {
            color: #999;
            font-size: 0.8em;
        }


    }


}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(254, 66, 22, 0.5);
    position :fixed;
    top: 0;
    z-index: 10;

    .menu-icon {
        color: white;
        float: right;
        font-size: 25px;
        padding: 21px 0;
        /* displayをnoneに指定してください */
        display: none;
      }

    .logo{
        width: 250px;
        margin: 7px 0 0 5px;
    }

    .header-left{
        float: left;
    }

    .header-right {
        float: right;
        //margin-right: -25px;

        a {
            line-height: 65px;
            padding: 0 25px;
            color: white;
            display: block;
            float: left;
            transition: all 0.5s;
            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
            }
          }
    }



}